body {
    font-family: "Short Stack", Impact;
}

button {
    font-family: "Short Stack", Impact;
}

.centre {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.no-select-drag {
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

#shop {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20rem;

    background-color: black;
    color: white;

    box-sizing: border-box;
    padding: 16px;
    overflow-y: auto;
}